.content
	.bicycles
		.inform-block
			.bicycle-used-category
				.category-inform
					Category:
					= @used_category
			= render partial: 'partials/bicycles', collection: @bicycles
			= will_paginate @bicycles
	.categories
		%ul
			.categories
				- @categories.each do |c|
					%li
						= link_to c.category, root_path(id: c.id)
